.date-range-selector {
    width: 100%;
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 1rem;
    box-sizing: border-box;
}
  
.date-range-selector h2 {
    font-weight: 500;
    color: #333;
    margin-bottom: 1rem;
}

/* Date Range Section */
.date-range-section {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.start-datetime,
.end-datetime {
    flex: 1;
    background-color: #ffffff;
    padding: 1rem;
    /* border-radius: 6px; */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    border: 1px solid #ddd;
}

.start-datetime h3,
.end-datetime h3 {
    background-color: #1b6fce;
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 1rem;
    /* border-radius: 4px; */
}

.datetime {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.form-control {
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #ccc;
    outline: none;
    width: 130px;
    transition: border-color 0.2s ease-in-out;
}

.form-control:focus {
    border-color: #1b6fce;
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
}

.time-input {
    display: flex;
    align-items: center;
}

.time-input-box {
    width: 50px;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 0.25rem;
}

.select-meridem {
    width: 70px;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    margin-left: 0.25rem;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align-last: center;
    -moz-text-align-last: center;
}

.select-meridem option {
    text-align: center;
}

/* Button Section */
.select-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.reset {
    display: flex;
    justify-content: center;
}

.select {
    display: flex;
    justify-content: flex-end;
}

.reset-divider {
    border: none;
    border-top: 1px solid #ccc;
    width: 100%;
}

.button-shared {
    width: 80px;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.25s ease, opacity 0.25s ease;
}

.reset-button {
    background-color: #e5e5e5;
    color: #333;
}

.reset-button:hover {
    background-color: #d4d4d4;
}

.select-button.active {
    background-color: #1b6fce;
    color: white;
}

.select-button.inactive {
    background-color: #e5e5e5;
    color: #333;
}

.select-button.inactive:hover {
    background-color: #1b6fce;
    color: white;
}

/* Error Message */
.range-error {
    color: red;
    margin-top: 0.75rem;
    text-align: center;
}


/* Month Selector */
.month-selector {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.year-input {
    width: 80px;
    padding: 6px;
    font-size: 14px;
}
  
